.receita{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column; /*Diz como os itens vão se comportar seja como linhas ou como colunas, exige que o display seja flex*/
    margin: 0 5rem 5rem 0;
    width: calc(25% - 5rem);
}